*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
/NG-KEY.jks
build
/app/build
/app/src/androidTest
/app/src/test
